:root{
    --colorPrincipal: hsl(185, 75%, 39%); 
    --colorSecundario: hsl(229, 23%, 23%);
    --colorTerciario: hsl(227, 10%, 46%);
    --neutral: hsl(0, 0%, 59%);
    --size: 18px;
    --regular: 400;
    --bold: 700;
    --fuente: 'Kumbh Sans', sans-serif;

}

/* Added by FrontEndMentor */

.attribution { font-size: 14px; text-align: center; } 
.attribution a { color: hsl(228, 45%, 44%); }

/* Added by me */
html{
    font-size: var(--size);
    font-family: var(--fuente);
}

.container{
    background-color: var(--colorPrincipal);
    height: 100vh;
}

.container::after{
    content: '';
    width: 50%;
    height: 50%;
    background-image: url(../images/bg-pattern-top.svg);
}